#buttonContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  button {
    margin: 5px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
